*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
    width:0px;
    height:0px;
    }
     
    /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
    ::-webkit-scrollbar-track {
    background:#333;
    }
     
    /* aqui é a alça da barra, que demonstra a altura que você está na página
    estou colocando uma cor azul clara nela*/
    ::-webkit-scrollbar-thumb {
    background: #2e9dd8;
    }

body{
    background-color: #100E0E;
}

header{
    /*background-image: url("img/Design\ sem\ nome.png");
    background-size: contain;*/
    background-color: #100E0E;
}

.header-tam{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ini-img{
    width: 250px;
    display: flex;
    margin-left: 30px;
}

header .ini-img img{
    width: 100%;
    height: 100%;
}

.ini-text{
    width: 450px;
    color: white;
    padding-bottom: 115px;
    padding-top: 115px;
}

.ini-text h1{
    margin-bottom: 10px;
    font-size: 38px;
    word-spacing: 0;
    text-align: start;
}

.tom{
    color: #FE402B;
}

.ini-text h2{
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}

.ini-text p{
    font-size: 18px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#3D0F0A;
    /*background-color: #100e0ef6;*/
    background-color:  #FE402B;
    padding-bottom: 55px;
}

.main-princ{
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.main-princ-img{
    display: flex;
    width: 250px;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: -5px 0 0 #100e0e61;
    margin-left: 60px;
    background-color: #100E0E;
}

.main-princ-img img{
    width: 100%;
    height: 100%;
}

.main-princ-text{
    width: 500px;
    display: flex;
    flex-direction: column;
}

.main-princ-text h2{
    font-size: 40px;
    margin: 20px 0;
}

.main-princ-text-pri{
    font-weight: 600;
    letter-spacing: 4px;
}

.main-princ-text-seg{
    color: black;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
}

.cor{
    color: black;
}

.main-princ-text-ter{
    margin-bottom: 20px;
    font-size: 17px;
}

.main-princ-text-qua{
    width: 16%;
    padding: 10px;
    border-radius: 30px;
    background-color: black;
    font-weight: 600;
    margin-left: 75%;
    font-size: 12px;
}

.main-lin{
    background-color: #100E0E;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-lin h2{
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 40px;
}

.main-lin-fro{
   display: flex;
   overflow: hidden;
   width: 200px;
   height: 200px;
   margin-bottom: 20px;
}

.main-lin-fro-img{
   display: flex;
   transition: transform 0.5s ease-in-out;
   transform: translateX(0);

}

.main-lin-fro-img img{
    object-fit: cover;
    width: 200px;
    height: 200px;
}

footer{
}

@media (max-width: 900px){
    .ini-img{
        width: 250px;
        display: flex;
        margin-left: 15px;
    }
    
    .ini-text h1{
        margin-bottom: 10px;
        font-size: 34px;
        word-spacing: 0;
        text-align: start;
    }
    
    
    .main-princ-img{
        display: flex;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 100%;
        box-shadow: -5px 0 0 #100e0e61;
        margin-left: 60px;
        background-color: #100E0E;
    }
    
    .main-princ-text{
        width: 450px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 725px){

    .ini-img{ 
        width: 250px;
        margin-left: 10px;
    }

    
    .ini-text{
        width: 400px;
        margin-left: 15px;
    }
    
    .ini-text h1{
        font-size: 30px;
    }
    
    .ini-text h2{
        font-size: 18px;
        letter-spacing: 1px;
    }
    
    .ini-text p{
        font-size: 16px;
    }

    .main-princ{
        flex-direction: column;
    }

    .main-princ-img{
        display: flex;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 100%;
        box-shadow: -5px 0 0 #100e0e61;
        margin-left: 13%;
        margin-bottom: 20px;
        background-color: #100E0E;
    }
    
    .main-princ-text{
        width: 450px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .main-princ-text h2{
        font-size: 35px;
        margin: 20px 0;
    }
    
    .main-princ-text-pri{
        font-weight: 600;
        letter-spacing: 4px;
    }
    
    .main-princ-text-seg{
        color: black;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 20px;
    }
    
    .cor{
        color: black;
    }
    
    .main-princ-text-ter{
        margin-bottom: 20px;
        font-size: 16px;
        text-align: justify;
    }

    .main-lin h2{
        margin-top: 60px;
        margin-bottom: 60px;
        font-size: 35px;
    }
}

@media (max-width: 650px){
    
    .ini-img{ 
        width: 250px;
    }
    
    .ini-text{
        width: 350px;
        margin-left: 15px;
    }
    
    .ini-text h1{
        font-size: 20px;
    }
    
    .ini-text h2{
        font-size: 16px;
        letter-spacing: 1px;
    }
    
    .ini-text p{
        font-size: 14px;
    }

    .main-princ-img{
        width: 160px;
        height: 160px;
    }

    .main-princ-text h2{
        font-size: 30px;
        margin: 20px 0;
    }

    .main-princ-text-seg{
        font-size: 18px;
    }

    .main-princ-text-ter{
        font-size: 14px;
    }

    .main-lin h2{
        margin-top: 60px;
        margin-bottom: 60px;
        font-size: 30px;
    }
}

@media (max-width: 605px){
    .header-tam{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .ini-text{
        width: 300px;
        background-color: #100E0E;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* width: 450px;
    color: white;
    padding-bottom: 115px;
    padding-top: 115px;*/
    
    .ini-text h1{
        font-size: 25px;
        text-align: center;
    }
    
    .ini-text h2{
        font-size: 16px;
        letter-spacing: 1px;
    }
    
    .ini-text p{
        font-size: 16px;
        text-align: justify;
        font-weight: 700;
    }

    .main-princ-img{
        margin-left: 60px;
    }

    .main-princ-text{
        width: 100%;
    }

    .main-princ-text h2{
        font-size: 35px;
        margin: 20px 0;
    }

    .main-princ-text-ter{
        font-size: 16px;
        margin: 20px;
    }

    .main-lin h2{
        width: 100%;
        font-size: 25px;
        text-align: center;
    }
}

@media (max-width: 400px){

   

}
